@use "scss/helpers" as *;

.text-hero {
  margin-left: -0.025em;
  color: var(--primary);
  font-size: clamp(2.375rem, 1.0769rem + 5.7692vw, 8rem);
  font-weight: 800;
}

.text-subhero {
  font-size: clamp(1.25rem, 1.0192rem + 1.0256vw, 2.25rem);
  font-weight: 700;
  font-family: var(--font-secondary);
}

.text-h1 {
  color: var(--primary);
  font-size: clamp(2.125rem, 1.95rem + 0.875vw, 3rem);
  font-weight: 800;
}

.text-h2 {
  font-size: clamp(1.5rem, 1.25rem + 1.25vw, 2.75rem);

  strong {
    color: var(--primary);
    font-weight: 700;
  }
}

.text-h3 {
  color: var(--primary);
  font-size: clamp(1.125rem, 1.1rem + 0.125vw, 1.25rem);
  font-weight: 700;
}

.text-h4 {
  color: var(--primary);
  font-size: rem(20);
  font-weight: 700;
  text-transform: uppercase;

  @include media(sm) {
    font-size: rem(18);
  }
}

.text-p {
  font-size: clamp(0.875rem, 0.7885rem + 0.3846vw, 1.25rem);
  font-family: var(--font-secondary);

  strong {
    color: var(--primary);
    font-weight: 700;
  }
}

.text-hero,
.text-subhero,
.text-h1,
.text-h2,
.text-h3 {
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
