@use "../helpers/index" as *;

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;

  &__fixed {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: var(--position, center);
  }
}

.group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: rem(20);
}

.underline {
  text-decoration: underline;
}
