---
import App from "../App.astro";
import * as Blocks from "@/blocks";
---

<App title="О клинике">
  <main>
    <Blocks.Hero
      img="hero/2.png"
      imgClass="img-2"
      title="о нас"
      desc='<strong>"Вера В НАС"</strong> — это команда опытных врачей, которая круглосуточно оказывает профессиональную помощь пациентам с зависимостью. Мы понимаем, насколько важно своевременное вмешательство при обострении, поэтому работаем без выходных и праздников, оперативно выезжая по первому вызову.<br /><br />Получить помощь просто — достаточно позвонить нам или оставить заявку на обратный звонок. В течение 25 минут после обращения бригада приедет к вам домой. Наши специалисты оказывают весь спектр неотложной помощи при острых состояниях, связанных с алкоголизмом или наркозависимостью: запои, похмельный синдром, отравления, ломка и другие критические ситуации.'
      slides={false}
    />
    <Blocks.About />
    <Blocks.Directions />
    <Blocks.Specialists />
    <Blocks.Gallery />
    <Blocks.License />
  </main>
</App>
