---
import App from "../App.astro";
import * as Blocks from "@/blocks";
---

<App title="Главная">
  <main>
    <Blocks.Hero img="hero/1.png" imgClass="img-1" category isMain />
    <Blocks.Callback />
    <Blocks.Directions />
    <Blocks.Path />
    <Blocks.Trust />
    <Blocks.Application />
    <Blocks.About />
    <Blocks.Specialists />
    <Blocks.Stages />
  </main>
</App>
