---
import App from "../App.astro";
import * as Blocks from "@/blocks";
---

<App title="Лечение шизофрении">
  <main>
    <Blocks.Hero
      title="Лечение шизофрении"
      img="hero/7.png"
      imgClass="img-3"
      category
      slides
    />
    <Blocks.Mental />
    <Blocks.Callback />
    <Blocks.Pricing />
    <Blocks.Path />
    <Blocks.Trust />
    <Blocks.Application />
    <Blocks.Stages />
    <Blocks.Motivation />
    <Blocks.About />
    <Blocks.Specialists />
    <Blocks.Gallery />
    <Blocks.Help />
    <Blocks.License />
    <Blocks.Reviews />
    <Blocks.Application />
    <Blocks.Faq />
    <Blocks.Categories />
    <Blocks.Seo />
  </main>
</App>
