---
import App from "../App.astro";
import * as Blocks from "@/blocks";
---

<App title="Лечение алкоголизма">
  <main>
    <Blocks.Hero
      title="лечение алкоголизма"
      img="hero/3.png"
      imgClass="img-1"
      category
      slides
    />
    <Blocks.Callback />
    <Blocks.Pricing />
    <Blocks.Path />
    <Blocks.Trust />
    <Blocks.Application />
    <Blocks.Stages />
    <Blocks.Help />
    <Blocks.About />
    <Blocks.Specialists />
    <Blocks.Gallery />
    <Blocks.License />
    <Blocks.Application />
    <Blocks.Reviews />
    <Blocks.Faq />
  </main>
</App>
