---
import App from "../App.astro";
import * as Blocks from "@/blocks";
---

<App title="Реабилитация">
  <main>
    <Blocks.Hero
      title="Реабилитация"
      img="hero/5.png"
      imgClass="img-3"
      category
      slides
    />
    <Blocks.Callback />
    <Blocks.Pricing />
    <Blocks.Rehabilitation />
    <Blocks.Trust />
    <Blocks.Application />
    <Blocks.About />
    <Blocks.Specialists />
    <Blocks.Help />
    <Blocks.Gallery />
    <Blocks.License />
    <Blocks.Reviews />
    <Blocks.Application />
    <Blocks.Faq />
    <Blocks.Categories />
    <Blocks.Seo />
  </main>
</App>
