---
import { H2, Image, Icon, Button, WpNav } from "ui";
import { menu } from "@/store";
import "./index.scss";
---

<header class="header">
  <div class="container group">
    <div class="header__top group-row">
      <a href="/" class="header__logo">
        <Image src="logo.svg" alt="logo" />
      </a>

      <div class="header__contacts group-row">
        <div class="header__contacts-item group">
          <div class="group-title group-row">Санкт-Петербург</div>
          <p class="group-desc">Без выходных</p>
        </div>
        <div class="header__contacts-item group">
          <a
            class="group-title group-row"
            href="tel:+78129241222"
            target="_blank"
            title="Телефон"
          >
            +7 (812) 924-12-22
          </a>
          <p class="group-desc">Без выходных</p>
        </div>
      </div>

      <Button data-modal="callback">ЗАКАЗАТЬ ЗВОНОК</Button>
    </div>

    <nav class="header__menu">
      <WpNav list={menu} />
    </nav>
  </div>
</header>
