---
import { Section, H2, H3, P, Image, Icon, Button } from "ui";
---

<!-- Gallery -->
<Section name="gallery">
  <H2>ФОТО <strong>Клиники</strong></H2>
  <div class="gallery__list">
    <div class="swiper">
      <div class="swiper-wrapper">
        {
          Array.from({ length: 12 }).map((_, index) => (
            <div
              class="swiper-slide"
              data-fancybox="gallery"
              data-src={`/assets/img/gallery/${index % 2 ? 1 : 2}.png`}
            >
              <Image src={`gallery/${index % 2 ? 1 : 2}.png`} />
            </div>
          ))
        }
      </div>
    </div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .gallery {
    position: relative;

    &__list {
      position: relative;
      width: 100%;

      .swiper {
        width: 100%;
        height: 450px;
        display: grid;

        @include media("3xl") {
          height: rem(350);
        }
        @include media("xl") {
          height: rem(280);
        }
        @include media("lg") {
          overflow: visible;
        }
        @include media("sm") {
          height: rem(240);
        }

        .swiper-wrapper {
          min-width: 0 !important;
        }
      }

      .swiper-slide {
        height: 100%;
        cursor: zoom-in;

        @include media("lg") {
          width: rem(420);
        }
        @include media("sm") {
          width: rem(320);
        }
        @include media("xs") {
          width: rem(280);
        }
        @include media("xxs") {
          width: rem(260);
        }

        img {
          width: 100%;
          height: 100%;
          border-radius: rem(20);
          object-fit: cover;
          transition: var(--transition-ease);
        }

        span {
          position: absolute;
          bottom: rem(20);
          left: rem(20);
          width: calc(100% - rem(40));
          color: #fff;
          font-size: rem(24);
          transition: var(--transition-ease);
        }
      }

      .swiper-button-next,
      .swiper-button-prev {
        margin: 0 !important;
        transform: translateY(-50%);
        z-index: 3;
        width: rem(70);
        height: rem(70);
        color: #fff;
        background: var(--primary);
        border-radius: 50%;
        --swiper-navigation-sides-offset: #{rem(-35)};

        @include media("3xl") {
          --swiper-navigation-sides-offset: #{rem(-30)};
          width: rem(60);
          height: rem(60);
        }
        @include media("lg") {
          display: none !important;
        }

        &::after {
          font-size: rem(28);
        }
      }

      .swiper-button-disabled {
        display: none;
      }
    }
  }
</style>
