---
import { Section, H2, H3, P, Image, Icon, Button } from "ui";
---

<!-- Help -->
<Section name="help"> .help </Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .help {
    position: relative;
  }
</style>
