---
import { Section, H2, H3, P, Image, Icon, Button } from "ui";
---

<!-- Schizophrenia -->
<Section name="schizophrenia">
  <H2>шизофрения <strong>не приговор</strong></H2>

  <div class="schizophrenia__content">
    Одна из наиболее распространённых и вместе с тем коварных душевных
    заболеваний. Из-за того, что у неё существует множество разновидностей,
    распознать и дифференцировать шизофрению на ранней стадии способен только
    специалист, а окружающие, в том числе и сам больной, могут недооценивать или
    вовсе не замечать наличие проблемы. Шизофрения характеризуется распадом
    личности, потерей нормального восприятия внешнего мира и практически полным
    уходом шизофреника в свой собственный.
    <br /><br />
    Существуют простая, параноидная, гебефренная, кататоническая, недифференцированная,
    резидуальная и многие другие формы шизофрении, которые отличаются не только течением
    заболевания, но и методикой его лечения, поэтому при наличии подозрения на шизофрению
    важно обратиться к психиатрам с многолетним опытом, который поможет им поставить
    точный диагноз и подобрать правильную методику. Среди ключевых симптомов шизофрении:
    <br />

    <ul>
      <li>
        бред, мания преследования, звуковые и визуальные галлюцинации, ревность
        (параноидная форма);
      </li>
      <li>
        расстройства эмоционального спектра, изменение поведения, несвязность
        мышления (гебефренная форма);
      </li>
      <li>резкая смена настроения, ступор (кататоническая шизофрения);</li>
      <li>
        утрата прежних интересов, отсутствие желания общаться с окружающими,
        неспособность ставить и достигать цели (простая форма);
      </li>
      <li>
        а также всё выше перечисленное для недифференцированной и резидуальной
        форм.
      </li>
    </ul>
  </div>

  <Button data-modal="form">Оставить заявку</Button>
</Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .schizophrenia {
    position: relative;

    &__content {
      width: 100%;
      max-width: 90%;
      font-family: var(--font-secondary);

      @include media("sm") {
        max-width: 100%;
        font-size: rem(14);
      }

      ul {
        padding-left: rem(24);
        list-style-type: disc;
      }
    }
  }
</style>
