---
import { Section, H2, H3, P, Image, Icon, Button } from "ui";
---

<!-- Seo -->
<Section name="seo">
  <div class="seo__title">Сео заголовок h1</div>
  <div class="seo__content">
    <p>
      Являясь всего лишь частью общей картины, интерактивные прототипы
      неоднозначны и будут обнародованы. Мы вынуждены отталкиваться от того, что
      экономическая повестка сегодняшнего дня способствует повышению качества
      соответствующих условий активизации. В своём стремлении повысить качество
      жизни, они забывают, что повышение уровня гражданского сознания является
      качественно новой ступенью распределения внутренних резервов и ресурсов.
    </p>
    <p>
      Являясь всего лишь частью общей картины, интерактивные прототипы
      неоднозначны и будут обнародованы. Мы вынуждены отталкиваться от того, что
      экономическая повестка сегодняшнего дня способствует повышению качества
      соответствующих условий активизации. В своём стремлении повысить качество
      жизни, они забывают, что повышение уровня гражданского сознания является
      качественно новой ступенью распределения внутренних резервов и ресурсов.

      <br /><br />

      Являясь всего лишь частью общей картины, интерактивные прототипы
      неоднозначны и будут обнародованы. Мы вынуждены отталкиваться от того, что
      экономическая повестка сегодняшнего дня способствует повышению качества
      соответствующих условий активизации. В своём стремлении повысить качество
      жизни, они забывают, что повышение уровня гражданского сознания является
      качественно новой ступенью распределения внутренних резервов и ресурсов.
    </p>
  </div>

  <button class="btn">Подробнее</button>
</Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .seo {
    position: relative;

    .container {
      gap: rem(20);
    }

    &__title {
      color: var(--primary);
      font-size: rem(24);
      font-weight: 700;
      text-transform: uppercase;
    }

    &__content {
      width: 100%;
      max-height: 0;
      overflow: hidden;
      transition: var(--transition-bezier);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(20);

      @include media("sm") {
        font-size: rem(14);
      }
    }

    .btn {
      padding: rem(10) rem(25);
      color: var(--primary);
      font-size: 1rem;
      font-family: var(--font-secondary);
      border: rem(1) solid var(--primary);
      border-radius: rem(10);

      @include media("xs") {
        padding: rem(8) rem(20);
      }

      &:hover {
        color: #fff;
        background: var(--primary);
      }
    }
  }
</style>
