---
import { Section, H2, H3, P, Image, Icon, Button } from "ui";
---

<!-- Specialists -->
<Section name="specialists"> .specialists </Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .specialists {
    position: relative;
  }
</style>
