---
import { Section, H2, H3, P, Image, Icon, Button } from "ui";
---

<!-- Diseases -->
<Section name="diseases">
  <div class="diseases__content group">
    <H2>Какие анализы <strong>мы Делаем?</strong></H2>
    <ul class="diseases__list">
      <li class="diseases__list-item">
        <a href="#">Анализ мочи на наркотики</a>
      </li>
      <li class="diseases__list-item">
        <a href="#">Анализ волос на наркотики</a>
      </li>
      <li class="diseases__list-item">
        <a href="#">Анализ на мефедрон</a>
      </li>
      <li class="diseases__list-item">
        <a href="#">Анализ на марихуану</a>
      </li>
      <li class="diseases__list-item">
        <a href="#">Анализ на героин</a>
      </li>
      <li class="diseases__list-item">
        <a href="#">Анализ на мак</a>
      </li>
      <li class="diseases__list-item">
        <a href="#">Анализ на кодеин</a>
      </li>
      <li class="diseases__list-item">
        <a href="#">Анализ на морфин</a>
      </li>
      <li class="diseases__list-item">
        <a href="#">Анализ на экстази</a>
      </li>
      <li class="diseases__list-item">
        <a href="#">Анализ на метадон</a>
      </li>
      <li class="diseases__list-item">
        <a href="#">Анализ на барбитураты</a>
      </li>
    </ul>
  </div>

  <div class="diseases__img">
    <Image src="tests.png" alt="Какие анализы мы Делаем? " />
  </div>
</Section>
