---
import { Section, H2, H3, P, Image, Icon, Button } from "ui";
---

<!-- Treatment -->
<Section name="treatment">
  <H2>Что включает в себя <strong>лечение в стационаре</strong></H2>

  <div class="treatment__content">
    <div class="treatment__content-item group">
      <p>
        Мы предлагаем комплексное лечение, включающее полную диагностику и
        реабилитацию пациента психиатрического стационар, обеспечивающую не
        только улучшение его самочувствия, но и возможность полного возвращения
        к нормальной жизни без патологий. Чтобы лечение было успешным, а
        результат достигнутым, мы используем индивидуальную и комплексную
        психотерапию, лекарственные препараты, проработку психоэмоциональных
        блоков при круглосуточной поддержке ведущих психиатров.
      </p>

      <blockquote>
        Обратите внимание: лечение в частной клинике – далеко не то же самое,
        что лечение в бюджетной. Увы, в государственных учреждениях пациент вряд
        ли получит необходимое внимание лечащего врача и индивидуальный подход,
        а уж об уважительном отношении говорить и вовсе не приходится. Другое
        дело – частный психиатрический стационар «Вера в НАС», где лечат не для
        галочки, а на результат – так, чтобы по выписке из стен клиники он стал
        здоровой, полноценной личностью, имеющей смысл и цель в жизни. Какова бы
        ни была степень вашего заболевания, обратившись к нам, вы можете
        рассчитывать не только на временное облегчение симптомов, но и на полное
        избавление от проблемы навсегда.
      </blockquote>
    </div>
    <div class="treatment__content-item group">
      <p>
        Поскольку от физического удобства напрямую зависит и психологическое
        состояние пациента, лечение встационаре подразумевает максимально
        комфортные условия для каждого постояльца. Выбирая «Веру в нас», вы
        получите:
      </p>

      <ul>
        <li>
          максимально комфортные условия в палатах, оборудованных всем
          необходимым (санузел, телевизор, удобные кровати);
        </li>
        <li>
          круглосуточное наблюдение за пациентами с гарантией их безопасности;
        </li>
        <li>
          индивидуальное, чуткое и уважительное отношение к пациенту вне
          зависимости от тяжести заболевания;
        </li>
        <li>трёхразовое сбалансированное питание в столовой;</li>
        <li>
          современные методики лечения, обеспечивающие заметный результат уже в
          первые недели после начала лечения;
        </li>
        <li>
          современные методики лечения, обеспечивающие заметный результат уже в
          первые недели после госпитализации в психиатрический стационар.
        </li>
      </ul>
    </div>
  </div>
</Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .treatment {
    position: relative;

    &__content {
      width: 100%;
      font-family: var(--font-secondary);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: rem(20);

      @include media("xl") {
        grid-template-columns: 1fr;
      }
      @include media("sm") {
        font-size: rem(14);
      }

      &-item {
        width: 100%;
        gap: rem(30);

        @include media("lg") {
          gap: rem(20);
        }
      }

      blockquote {
        padding: rem(24);
        color: #fff;
        line-height: 1.8;
        background: var(--primary);
        border-radius: rem(15);

        @include media("3xl") {
          line-height: 1.5;
        }
        @include media("sm") {
          padding: rem(20);
        }
      }

      ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: rem(20);

        @include media("sm") {
          gap: rem(15);
        }

        li {
          position: relative;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          gap: rem(15);

          @include media("sm") {
            font-size: rem(14);
            gap: rem(12);
          }

          &::before {
            content: "";
            margin-top: rem(2);
            display: block;
            background: url('data:image/svg+xml,<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.5 18.875C10.7311 18.875 11.9502 18.6325 13.0877 18.1614C14.2251 17.6902 15.2586 16.9997 16.1291 16.1291C16.9997 15.2586 17.6902 14.2251 18.1614 13.0877C18.6325 11.9502 18.875 10.7311 18.875 9.5C18.875 8.26886 18.6325 7.04977 18.1614 5.91234C17.6902 4.77492 16.9997 3.74142 16.1291 2.87087C15.2586 2.00032 14.2251 1.30977 13.0877 0.838629C11.9502 0.367491 10.7311 0.125 9.5 0.125C7.0136 0.125 4.62903 1.11272 2.87087 2.87087C1.11272 4.62903 0.125 7.0136 0.125 9.5C0.125 11.9864 1.11272 14.371 2.87087 16.1291C4.62903 17.8873 7.0136 18.875 9.5 18.875ZM9.25833 13.2917L14.4667 7.04167L12.8667 5.70833L8.3875 11.0823L6.06979 8.76354L4.59688 10.2365L7.72187 13.3615L8.52812 14.1677L9.25833 13.2917Z" fill="%230BBF8C" /></svg>')
              center/contain no-repeat;
            min-width: rem(19);
            width: rem(19);
            height: rem(19);
          }
        }
      }
    }
  }
</style>
