---
import { Image, Icon, H3, Button } from "ui";
---

<footer class="footer">
  <div class="footer__map">
    <div class="container">
      <div class="footer__map-contacts group">
        <div class="group">
          <strong>Режим работы:</strong>
          <p>Ежедневно, круглосуточно</p>
        </div>
        <div class="group">
          <strong>Телефон:</strong>
          <a href="tel:+78129241222" target="_blank" title="Телефон">
            +7 (812) 924-12-22
          </a>
        </div>
        <div class="group">
          <strong>Адрес:</strong>
          <p>195265, г. Санкт-Петербург,<br /> шоссе Революции, 88Н</p>
        </div>

        <div class="group-row">
          <a href="#" target="_blank" title="WhatsApp">
            <Icon src="whatsapp-2.svg" />
          </a>
          <a href="#" target="_blank" title="Telegram">
            <Icon src="telegram-2.svg" />
          </a>
        </div>

        <Button data-modal="form">Оставить заявку</Button>
      </div>
    </div>

    <iframe
      src="https://yandex.uz/map-widget/v1/?ll=30.466209%2C59.962468&mode=search&oid=1737124203&ol=biz&z=15.52"
      allowfullscreen="true"></iframe>
  </div>

  <div class="container">
    <div class="footer__top">
      <a href="/" class="footer__logo">
        <Image src="logo.svg" />
      </a>

      <ul class="menu">
        <li class="menu-item"><a href="/services">Лечение алкоголизма</a></li>
        <li class="menu-item">
          <a href="/services">Наркологическая помощь </a>
        </li>
        <li class="menu-item">
          <a href="/services">Выведение из запоя</a>
        </li>
        <li class="menu-item">
          <a href="/services">Лечение наркомании</a>
        </li>
        <li class="menu-item">
          <a href="/services">Лечение игромании</a>
        </li>
        <li class="menu-item">
          <a href="/services">Реабилитация</a>
        </li>
        <li class="menu-item">
          <a href="/services">Психиатрическая клиника</a>
        </li>
        <li class="menu-item">
          <a href="/services">Анализ на наркотики</a>
        </li>
        <li class="menu-item active"><a href="/">Главная</a></li>
        <li class="menu-item"><a href="/about">О клинике</a></li>
        <li class="menu-item"><a href="/contacts">Контакты</a></li>
      </ul>

      <div class="footer__top-right group">
        <div class="application__content-contact group-row">
          <a
            class="application__content-phone"
            href="tel:+78129241222"
            target="_blank"
            title="Телефон"
          >
            +7 (812) 924-12-22
          </a>

          <div class="group-row">
            <a href="#" target="_blank" title="WhatsApp">
              <Icon src="whatsapp-2.svg" />
            </a>
            <a href="#" target="_blank" title="Telegram">
              <Icon src="telegram-2.svg" />
            </a>
          </div>
        </div>
        <p>Работаем по г.Санкт-петербург и по всей Ленинградской области</p>
      </div>
    </div>

    <div class="footer__bottom">
      <p>
        <span id="currentYear">2025.</span> veravnas.spb.ru. Все права защищены
      </p>

      <a
        href="https://seo-tex.ru/"
        target="_blank"
        title="Разработка сайта"
        class="footer__dev"
      >
        <div class="icon">
          <svg
            width="27"
            height="28"
            viewBox="0 0 27 28"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13.4857 0.651367C5.70161 0.651367 0 6.27452 0 14.1441C0 16.2745 0.416494 18.231 1.17772 19.9702L7.95637 13.7963L5.55801 11.0282L20.7383 8.01365L15.7404 22.7963L13.342 20.0282L6.76437 26.0282C8.7176 27.0716 10.9867 27.6514 13.4857 27.6514C21.3127 27.6514 27 22.0282 27 14.1586C27 6.28904 21.3127 0.651367 13.4857 0.651367Z"
              fill="currentColor"></path>
          </svg>
        </div>
        <span>
          Разработка <br />
          и продвижение
        </span>
      </a>
    </div>
  </div>
</footer>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .footer {
    padding: rem(50) 0;

    @include media("xl") {
      padding-bottom: rem(120);
    }
    @include media("sm") {
      padding: rem(35) 0 rem(100);
    }

    &__map {
      position: relative;
      padding: rem(48) 0 rem(88);

      @include media("lg") {
        padding: 0;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        background: rgba(9, 136, 208, 0.2);
        pointer-events: none;

        @include media("lg") {
          display: none;
        }
      }

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;

        @include media("lg") {
          position: relative;
          height: rem(500);
        }
        @include media("sm") {
          height: rem(400);
        }
        @include media("xs") {
          height: rem(300);
        }
      }

      &-contacts {
        position: relative;
        z-index: 3;
        padding: rem(55) rem(36) rem(48);
        width: 100%;
        max-width: rem(450);
        font-family: var(--font-secondary);
        text-transform: uppercase;
        background: #fff;
        border-radius: rem(20);
        gap: rem(24);

        @include media("lg") {
          max-width: 100%;
          border-radius: rem(20) rem(20) 0 0;
        }
        @include media("sm") {
          padding: rem(20) rem(20) rem(30);
          gap: rem(20);
        }
      }

      .group-row {
        gap: rem(12);
        --icon-size: #{rem(36)};
      }

      strong {
        margin-bottom: rem(4);
        color: var(--primary);
      }

      .btn {
        padding: rem(22) rem(45);
        border-radius: 9999px;
      }
    }

    &__top {
      margin-top: rem(45);
      padding: rem(30) 0 rem(20);
      width: 100%;
      border-top: rem(2) solid var(--primary);
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: rem(50);

      @include media("xl") {
        flex-wrap: wrap;
      }
      @include media("lg") {
        flex-direction: column;
        align-items: flex-start;
      }
      @include media("sm") {
        margin-top: rem(25);
        padding: rem(20) 0;
        border-width: rem(1);
        gap: rem(30);
      }

      &-right {
        align-items: flex-end;
        gap: rem(20);

        @include media("xl") {
          align-items: flex-start;
        }

        p {
          text-align: right;
          max-width: rem(380);
          font-weight: 600;
          font-family: var(--font-secondary);

          @include media("xl") {
            text-align: left;
          }
          @include media("sm") {
            font-size: rem(14);
          }
        }
      }

      .menu {
        height: rem(150);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        gap: rem(20) rem(70);

        @include media("3xl") {
          height: rem(240);
        }
        @include media("lg") {
          height: auto;
        }
        @include media("sm") {
          font-size: rem(14);
          gap: rem(15);
        }

        a {
          color: var(--primary);
          font-family: var(--font-secondary);
          font-weight: 700;
        }
      }
    }

    &__logo {
      display: block;
      width: rem(110);

      @include media("sm") {
        width: rem(80);
      }

      img {
        width: 100%;
      }
    }

    &__bottom {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(20);

      & > p {
        font-size: rem(12);
        font-weight: 600;
        font-family: var(--font-secondary);
      }
    }

    &__dev {
      margin-top: auto;
      color: #555555;
      font-size: 0.75rem;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.625rem;
      transition: var(--transition-ease);
      --icon-size: 1.875rem;

      &:hover {
        color: var(--primary);
      }
    }
  }
</style>
